.comment-navigation,
.posts-navigation,
.post-navigation {
	padding: .5em 0;
	border-top: 1px solid $color__background-alt;
	border-bottom: 1px solid $color__background-alt;

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
