$color__brand-1: #aac195; // GREEN
$color__brand-2: #BAA080; // BEIGE
$color__masthead: #fff; // MASTHEAD COLOR
$color_brand-3: #679045;
$color__brand-4: #754100;

$color__background-body: $color__brand-1;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__brand-4;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-alt: #f6f3ed;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__home-links: #6d6e70;
$color__link: $color_brand-3;
$color__link-visited: $color_brand-3;
$color__link-hover: $color__brand-1;
$color__text-main: #000;
$color__text-alt: #575757;

$color__border-button: $color__brand-4;
$color__border-button-hover: $color__brand-1;
$color__border-button-focus: $color__brand-1;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Alt Bacground Color #f6f3ed
// Green  #aac195 brand 1
// Brown #754100 H1
// Grey links #6d6e70 front-page links
// Light BCOlororown #BAA080 alt-nav